body {
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

.game_container {
    background-color: #494949;
    width: 10rem;
}


.bg {
    background-color: #0c0c0c;
    height: 100vh;
    width: 100vw;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding-top: 0.5rem;
}

.container {
    display: flex;
    background-color: aliceblue;
}